<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body style="font-family:Arial, sans-serif;">
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color: #fff">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="5" cellspacing="0" width="600">
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td valign="top" align="center">
                    <a href="https://rex.ch/newsletter/email/rex14/" style="font-family:Arial, sans-serif;">View this
                      email in your browser</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="center" valign="top">
                    <table>
                      <tr>
                        <td>
                          <img src="https://rex.ch/newsletter/email/rex14/img/p1.jpg" width="600" />
                          <img src="https://rex.ch/newsletter/email/rex14/img/p2.jpg" width="600" usemap="#map1" />

                          <map name="map1">
                            <area target="_blank" alt="Borflex" title="Borflex" href="http://www.borflex.fr/"
                              coords="32,3,151,81" shape="rect" />
                            <area target="_blank" alt="REX Articoli Tecnici SA" title="REX Articoli Tecnici SA"
                              href="https://rex.ch/" coords="369,0,568,80" shape="rect" />
                          </map>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>