<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>REX.CH</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin:0; padding:0; font-family:Arial">
  <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
    <tr>
      <td align="center"><a style="text-decoration:none" href="http://www.rex.ch/newsletter/email/rex16/email.php">View this email in a browser</a></td>
    </tr>
    <tr>
      <td>
        <p>Dear Customers and valued business partner,<br><br>
Please pay attention to the attached information about important changes at REX Articoli Tecnici SA. <br><br>Many thanks and best regards.</p>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-bottom:10px"><a style="text-decoration:none" href="http://www.rex.ch/newsletter/email/rex16/email.php?lang=it">View in Italian</a> - <a style="text-decoration:none" href="http://www.rex.ch/newsletter/email/rex16/email.php?lang=de">View in Deutsch</a> - <a style="text-decoration:none" href="http://www.rex.ch/newsletter/email/rex16/email.php?lang=fr">View in French</a></td>
    </tr>
    <tr>
      <td>
        <a href="http://www.rex.ch/newsletter/email/rex16/email.php" alt="View in browser"><img style="border:1px solid #a7a7a7" width="600" src="http://www.rex.ch/newsletter/email/rex16/email16_en.jpg" alt=""></a>
      </td>
    </tr>
  </table>
</body>
</html>
