<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body style="font-family:Arial, sans-serif;" data-__gyazo-extension-added-paste-support="true">
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color: #fff">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="5" cellspacing="0" width="600">
            <tbody>
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td valign="top" align="center">
                          <a href="https://rex.ch/newsletter/email/rex15/" style="font-family:Arial, sans-serif;">View
                            this email in your browser</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" valign="top">
                          <table>
                            <tbody>
                              <tr>
                                <td>
                                  <img src="https://rex.ch/newsletter/email/rex15/part1.jpg" width="600"
                                    usemap="#map1" />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <map name="map1">
    <area target="_blank" alt="REX.CH" title="REX.CH" href="https://rex.ch" coords="442,4,562,46" shape="rect" />
    <area target="_blank" alt="REX.CH" title="REX.CH" href="https://rex.ch" coords="5,400,82,414" shape="rect" />
    <area target="_blank" alt="Swiss Plastics" title="Swiss Plastics" href="https://www.visit.swissplastics-expo.ch/de/"
      coords="5,7,70,46" shape="rect" />
    <area target="_blank" alt="Sales REX.CH" title="Sales REX.CH" href="mailto:sales@rex.ch" coords="90,400,170,413"
      shape="rect" />
    <area target="_blank" alt="Borflex Contact" title="Borflex Contact" href="mailto:contact@borflex.fr"
      coords="496,415,562,423" shape="rect" />
    <area target="_blank" alt="Borflex" title="Borflex" href="https://borflex.fr" coords="438,416,490,423"
      shape="rect" />
  </map>
</body>

</html>